* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffffff;
  width: 100%;
  max-width: 320px;

  padding: 16px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card img {
  width: 100%;
  border-radius: 8px;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.price {
  font-size: 18px;
  font-weight: bold;
}
button {
  padding: 10px;
  background-color: #000;
  color: #fff;

  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
/* Tablet */
@media (min-width: 768px) {
  .card {
    max-width: 400px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .card {
    max-width: 450px;
  }
}
